h1{
    color: blueviolet;
}
h2{
    color: rgb(173, 111, 57);
}
h3{
    color: #00FF00;
}
h4{
    color: rgba(0, 0, 255, 1);
}
h5{
    color: hsl(0, 100%, 70%);
}
body{
    background-color: darkgoldenrod;
}