*{
    margin: 0;
}
div{
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: url(https://plus.unsplash.com/premium_photo-1681422570054-9ae5b8b03e46?w=1000&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8c3Vuc2V0fGVufDB8fDB8fHww);
    /* filter: blur(2px); */
    /* filter: brightness(40%); */
    /* filter: contrast(200%); */
    /* filter: grayscale(40%); */
    filter: saturate(50%);
}