*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* .container{
    background-color: rgb(0, 0, 255);
} */
.img{
    /* background-image: url("https://images.unsplash.com/photo-1498050108023-c5249f4df085?w=1000&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fGxhcHRvcHxlbnwwfHwwfHx8MA%3D%3D");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    height: 100vh;
    mix-blend-mode: multiply;
    mix-blend-mode: darken;
    mix-blend-mode: lighten;
    mix-blend-mode: color-dodge;
    mix-blend-mode: color-burn;
    mix-blend-mode: difference;
    mix-blend-mode: hue;
    mix-blend-mode: saturation;
    mix-blend-mode: color;
    mix-blend-mode: luminosity; */
    
    /* background-image: linear-gradient(rgba(255, 0, 0, 0.447),rgba(0, 128, 0, 0.468)),url("https://images.unsplash.com/photo-1498050108023-c5249f4df085?w=1000&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fGxhcHRvcHxlbnwwfHwwfHx8MA%3D%3D");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    height: 100vh;
    mix-blend-mode: overlay; */

    background-image: url("https://images.unsplash.com/photo-1498050108023-c5249f4df085?w=1000&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fGxhcHRvcHxlbnwwfHwwfHx8MA%3D%3D"),url("https://images.unsplash.com/photo-1605106702734-205df224ecce?w=1000&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cGF0dGVybnN8ZW58MHx8MHx8fDA%3D"),linear-gradient(orange,yellow);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    height: 100vh;
    background-blend-mode: multiply,screen;
}